.note-row__row {
  display: flex;
}

.note-row__row .note-row__note {
  height: 20px;
  background-color: white;
  border-bottom: thin solid black;

  /* border-radius: 4px; */
}
.note-row__row .note-row__note.note-selected {
  background-color: lightgreen;
}
.note-row__row .note-row__note:hover {
  opacity: 0.5;
  background-color: lightgreen;
}
